*{
    font-family: 'Ubuntu', sans-serif;
    color:white
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
    background-color: #161717;
}
.google{
    background-color: #1A73E8;
    height: 40px;
    border:none;
    border-radius: 5px;
    display:flex;
    align-items: center;
    padding:2px;
    cursor:pointer;
}
.google picture img{
    width: 75%;
}
.botones{
    align-self: center;
    display: flex;
    gap:20px;
}
.google picture{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius:2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google span{
    color:white;
    font-weight: 500;
    padding:15px;
}
.separador{
    display: flex;
    width: 100%;
    gap:15px-,
}
.separador hr{
    flex-grow:1;
    border:none;
    border-top: 1px solid #ccc
}
.separador span{
    color: #8b8b8b
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:20px;
}
.section-inputs{
    display:flex;
    gap:10px;
    width: 100%;
}
label {
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
label input {
    width: 80%;
    background-color:  #212121;
    border: none;
    padding:10px 20px;
    border-radius: 10px;
    outline:none;
    font-size: 14pt;
    transition: background-color 0.2s,border 0.2s,box-shadow 0.2s;
}
label span {
    font-weight: 700;
}
label input:hover{
    background-color: #454045;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f
}
label input:focus{
    background-color: #454045;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f
}
.checkbox{
    display:flex;
    flex-direction: row;
}
.checkbox input[type="checkbox"]{
    width:20px;
}
.checkbox span {
    font-weight: 400;
}
.submit{
    background-color: #EA4C89;
    color:white;
    text-align: center;
    padding:15px;
    border:none;
    border-radius: 10px;
    font-size:14pt;
    cursor: pointer;
}
.submit:hover{
    opacity: 0.75;
}